h1 span {
    color: #FFF;
}

/* Animation and style for TERM page */

/* Style */

.fixed-content {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #161616;
    color: #FB8F09 !important;
    text-shadow: 0 0 10px #be7600 !important;
}

.terminal-prompt::before {
    color: #FB8F09 !important;
}

.terminal-prompt::after {
    display: none;
}

.terminal-timeline .terminal-card::before {
    background: #FB8F09;
    border-color: #FB8F09;
}

.btn-primary {
    background: #FB8F09 !important;
    color: #161616 !important;
    border: #be7600;
    box-shadow: 0 0 10px #be7600 !important;
}

.terminal-timeline::before {
    background: #FB8F09;
}

.terminal-card {
    border: 1px solid #FB8F09;
    box-shadow: 0 0 10px #be7600 !important;
}

.terminal-card>header {
    background: #161616;
    padding-top: 1rem;
    color: #FB8F09 !important;
}

h1 span,
a,
td,
th {
    color: #FB8F09 !important;
}

dt {
    padding-top: 12px;
    font-weight: bold;
}

dd {
    padding-top: 2px;
}

.mono:lang(en-us),
.mono,
.mono * {
    font-family: Courier, 'Courier New', monospace !important;
}

:lang(zh-Hans) {
    font-family: Songti SC;
}

:lang(en-us) {
    font-family: "Source Serif Pro";
}

body {
    line-height: 1.0;
}

a:hover {
    background: none;
}

/* Animation */

.with-cursor {
    border-right: 1ch solid transparent;
}

.stage1 {
    white-space: nowrap;
    overflow: hidden;
    width: 3ch;
    animation: stage1-animation 1.3s steps(13) 1s 1 normal both,
        cursor-animation 1s linear 3.3 normal;
}

@keyframes stage1-animation {
    from {
        width: 2ch;
    }

    to {
        width: 17ch;
    }
}

@keyframes showup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.stage2 {
    opacity: 0;
    animation: showup 0.2s steps(1) 3.3s 1 normal both;
}

.stage3 {
    opacity: 0;
    animation: showup 0.2s steps(1) 4.4s 1 normal both;
}

.stage4 {
    opacity: 0;
    animation: showup 0.2s steps(1) 4.4s 1 normal both;
}

.stage5 {
    opacity: 0;
    /* sleep for 0.8s */
    animation: showup 0.2s steps(1) 5.4s 1 normal both;
}

.final-cursor {
    width: 2ch;
    animation: cursor-animation 1s linear 5.4s infinite normal;
}

.home-cursor {
    width: 2ch;
    animation: cursor-animation 1s linear 0s infinite normal;
}

@keyframes cursor-animation {
    0% {
        border-right-color: #FB8F09;
    }

    50% {
        border-right-color: #FB8F09;
    }

    100% {
        border-right-color: transparent;
    }
}

img {
    width: auto !important;
}


.container2 {
    padding: 1rem 10% 0 10% !important;
}

.ascii-art-container {
    float: right;
    background: #161616;
}

.ascii-art-text {
    color: #FB8F09;
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    background: #161616;
    line-height: 1.4;
    font-family: 'Consolas', 'BitstreamVeraSansMono', 'CourierNew', Courier, monospace;
    font-size: 12px;
}