.background {
    width: 40%; position: absolute; top: 0; left: 0;
         height: 100vh;
         filter: contrast(100);
         --mask: linear-gradient(red, #{rgba(#000, .45)});
         &::before {
         position: absolute;
         top: 0; right: 0; bottom: 0; left: 0;
         background: 
         radial-gradient(#000, transparent) 0 0/ 1em 1em space;
         -webkit-mask: var(--mask);
         mask: var(--mask);
         content: ''
         }
}

.photo-title {
    position: absolute; z-index: 100; bottom: 30px;
}

.bg-info {
    background-color: #0092aa !important;
}